[submodule "3rd-deps/spdlog"]
	path = 3rd-deps/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "3rd-deps/parallel-hashmap"]
	path = 3rd-deps/parallel-hashmap
	url = https://github.com/greg7mdp/parallel-hashmap.git
[submodule "3rd-deps/pybind11"]
	path = 3rd-deps/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "3rd-deps/cereal"]
	path = 3rd-deps/cereal
	url = https://github.com/USCiLab/cereal.git
